@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s step-start infinite;
}
.animate-typewriter {
    animation: typewriter 2s steps(20, end) forwards;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    display: inline-block;
}